
/*#############################################################################

                            Body

##############################################################################*/

body{
    align-content: center;
    color: #FFE81F;
    float: left;    
    background-image: url("../IMG/etoile.jpg");
    
}

/*#############################################################################

                            Banniere

##############################################################################*/

.BANNER{
  background-color: black;
}

.BAN{
  float: left;
}

.LOGO{
  float: left;
}
/*#############################################################################

                            Barre de navigation

##############################################################################*/

.topnav {
    overflow: hidden;
    background-color: rgb(36, 35, 35);
  }
  
  .topnav a {
    float: left;
    text-size-adjust: 100%, auto;
    color: #FFE81F;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(241, 232, 150);
    color: #333;
  }
  
  .topnav a.active {
    background-color: #FFE81F;
    color: #333;
  }

/*#############################################################################

                            Barre de recherche

##############################################################################*/

  .searchbar {
    margin: .6rem 0;
    float: right;
  }
  .searchbar .champ{
    color: #FFE81F;
    background-color: #333;  
    outline: #666;
  }

  .searchbar .bouton{
    display: inline-block;
    padding: 5px 5px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #666;
    background-color: #d6c319;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px #999;
  }

.searchbar .bouton:hover {background-color: #FFE81F}

.searchbar .bouton:active {
  background-color:#FFE81F;
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}
/*################################################################################

                            Flip card

#################################################################################*/

  .flip-card {
    background-color: transparent;
    width: 200px;
    height: 300px;
    perspective: 1000px;
    float: left;   
    margin: .4rem 0;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color:rgb(36, 35, 35);
    color: white;
    transform: rotateY(180deg);
  }